@model IEnumerable<SportStore.Common.ModelDto.ClothesDto>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <section>
            <h2 class="title">Спортивная одежда</h2>
            <p class="desc">Большой выбор спортивной одежды</p>
            <div class="card">
                @foreach (var item in Model)
                {

                    @if (item.ClothesStore.Amount <= 0) { continue; }
                    <div class="card__item">
                        <div class="card__cover">
                            <img class="card__img" src="~/img/goods/@item.Img" alt="@item.Model" />
                        </div>
                        <div class="card__info">
                            <div>
                                <p class="card__book">@item.Model</p>
                            </div>
                            <p class="text__price">Цена<span class="card__price">@item.Cost</span></p>
                        </div>
                        <div class="card__b">

                            <a asp-action="AboutGoods" asp-controller="Goods" asp-route-id="@item.Id" class="card__link">Больше информации</a>

                            <form asp-route-id="@item.Id" method="post" asp-action="BuyGoods" asp-controller="Home">
                                <input class="card__link button-len" type="submit" value="Купить сейчас" />
                            </form>

                            <form asp-controller="Home" asp-action="AddBusket" method="post" asp-route-id="@item.Id">
                                <input class="card__link button-len" type="submit" value="Добавить в корзину" />
                            </form>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</body>

